includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app/Support
        - app/Models
        - app/Console
        - app/Http
        - app/Repositories

    excludePaths:
        analyse:
            - app/Support/Legacy

    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - tests/phpstan/constants.stub.php
        - tests/phpstan/globals.stub.php
        - bootstrap/app.php

    scanFiles:
        - app/Support/Legacy/functions.php
        - config/nexus_constants.php
        - app/Support/Legacy/cleanup.php

    scanDirectories:
        - vendor
        - classes

    dynamicConstantNames:
        - IN_NEXUS
        - IN_TRACKER
        - RUNNING_IN_OCTANE

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: '#Variable \$[a-zA-Z_][a-zA-Z0-9_]* might not be defined\.#'
            path: app/Support/Legacy/cleanup.php

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
