includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/Console
        - app/Http
        - app/Repositories

    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - tests/phpstan/constants.stub.php
        - bootstrap/app.php

    scanFiles:
        - config/nexus_constants.php

    scanDirectories:
        - vendor

    dynamicConstantNames:
        - IN_NEXUS
        - IN_TRACKER
        - RUNNING_IN_OCTANE

    treatPhpDocTypesAsCertain: false

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
