includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app/Support
        - app/Models
        - app/Console
        - app/Http
        - app/Repositories
        - include

    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - tests/phpstan/constants.stub.php
        - tests/phpstan/globals.stub.php
        - bootstrap/app.php

    scanFiles:
        - include/globalfunctions.php
        - include/functions.php
        - include/constants.php
        - include/cleanup.php

    scanDirectories:
        - vendor
        - classes

    dynamicConstantNames:
        - IN_NEXUS
        - IN_TRACKER
        - RUNNING_IN_OCTANE

    treatPhpDocTypesAsCertain: false

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
