parameters:
    level: 0
    paths:
        - app
        - nexus
        - public
        - config
        - include
        - database
        - tests
    excludePaths:
        analyse:
            - .docker
            - storage
            - bootstrap/cache
            - node_modules (?)
            - public/vendor (?)
    scanDirectories:
        - vendor
        - classes
