includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline-7.neon

parameters:
    level: 7
    paths:
        - app/Support
        - app/Models
        - app/Console
        - app/Http
        - app/Repositories
        - app/Jobs
        - app/Listeners
        - app/Providers
        - app/ValueObjects
        - app/DTOs
        - app/Services
        - app/Utils
        - app/Auth
        - app/Events
        - app/Exceptions
        - app/Logging
        - app/Policies
        - app/Filament

    excludePaths:
        analyse:
            - app/Services/Legacy/partials
            - app/Services/Legacy/*_content.php

    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - tests/phpstan/constants.stub.php
        - tests/phpstan/globals.stub.php
        - bootstrap/app.php

    scanFiles:
        - config/nexus_constants.php

    scanDirectories:
        - vendor

    dynamicConstantNames:
        - IN_NEXUS
        - IN_TRACKER
        - RUNNING_IN_OCTANE

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            message: '#does not specify its types: TModel#'
            path: app/Utils/ApiQueryBuilder.php

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
