parameters:
    level: 0
    reportUnmatchedIgnoredErrors: false
    paths:
        - app
        - public
        - config
        - database
        - tests
    excludePaths:
        analyse:
            - .docker
            - storage
            - bootstrap/cache
            - node_modules (?)
            - public/vendor (?)
            - public/install (?)
    scanDirectories:
        - vendor
