includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/Support
        - app/Models

    excludePaths:
        analyse:
            - app/Support/Legacy

    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - tests/phpstan/constants.stub.php
        - bootstrap/app.php

    scanFiles:
        - app/Support/Legacy/functions.php
        - config/nexus_constants.php
        - app/Support/Legacy/cleanup.php

    scanDirectories:
        - vendor
        - classes

    dynamicConstantNames:
        - IN_NEXUS
        - IN_TRACKER
        - RUNNING_IN_OCTANE
